/* Your Website Styles */
h1{
	color: #ABE3CD;
	background: #629682;
	border-radius: 15px;
	margin: 30px 0 10px 0;
	padding: 20px; 
	font-family: 'Arvo', serif;
	font-size: 2.8em;
	text-align: center;
	opacity: 0.75;
	

}
body{
	background: url("../img/tree_bark.png");
}

h2	{
	color: #629682;
	font-family: 'Arvo', serif;
	text-align: center;
	background: #fff;
	border-radius: 15px;
	margin: 30px 0 10px 0;
	padding: 20px; 
	font-size: 2.8em;
	opacity: 0.55;
}

p {
	color: #965F53;
	font-family: 'Arvo', serif;

}

ul {
	list-style: none;
	text-indent: 65px;
	color: #965F53;
	font-family: 'Arvo', serif;
	font-size: .9em;

}

.info{
	text-indent: 100px;
	font-size: .9em;
}
.school {
	font-weight: bolder;
	text-indent: 50px;
}

.title {
	font-weight: bold;
}

.job {
	text-align: center;
	font-weight: normal;
}

.para {
	text-align: center;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
